h1{
  position: relative;
  font-style: italic;
  font-weight: bold;
  color: #9C6A8D;
  text-align: right;
  font-size: 50px;
  padding-top: 40px;
  padding-right: 30px;
}

nav {
  color: #9C6A8D;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
}
